body {
    background-image: ;https://images2.alphacoders.com/949/949049.png
}
#rcorners10 {
    border-radius: 25px;
    background: url(https://media1.giphy.com/media/ZDpqGe4tpNZRtS2BEo/giphy.gif?cid=ecf05e47fbgs69zstevy0mgxj373m79b3kq9bcqxuw0c1w0d&rid=giphy.gif&ct=g);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  #rcorners11 {
    border-radius: 25px;
    background: url(https://media0.giphy.com/media/tWriZ0Y6oVQJMH4fIW/giphy.gif?cid=ecf05e47mfpozl7dyfy28wj2grtc5fg5joiejqe6pu9q3nhv&rid=giphy.gif&ct=g);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
  #rcorners12 {
    border-radius: 25px;
    background: url(https://media4.giphy.com/media/uCow7L41s0lsOUiPEy/giphy.gif?cid=ecf05e47tqlkyl3sxulzeb0rle3bz8vhh7rdpplmws863xoj&rid=giphy.gif&ct=g);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }#rcorners13 {
    border-radius: 25px;
    background: url(https://64.media.tumblr.com/4241af8a5776e96eccbfbfe6bf91bd7d/tumblr_mxd6dwVDeG1rsvdydo1_500.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }#rcorners14 {
    border-radius: 25px;
    background: url();
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }#rcorners15 {
    border-radius: 25px;
    background: url(https://media0.giphy.com/media/tWriZ0Y6oVQJMH4fIW/giphy.gif?cid=ecf05e47mfpozl7dyfy28wj2grtc5fg5joiejqe6pu9q3nhv&rid=giphy.gif&ct=g);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }


  Stuff needed for background 
  https://media1.tenor.com/images/035c775b1692be5a9dda8427ecc658c4/tenor.gif?itemid=13610761
  https://media1.tenor.com/images/06fb0f850b85f517ab415c9fd66bc73c/tenor.gif?itemid=10872172
  
  